.visitorcard {
  width: 430px;
  margin: auto;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.35);
  border: 5px solid #0a4da3;
}

.header {
  background: linear-gradient(90deg, #0a4da3, #0099ff);
  padding: 20px;
  color: white;
  text-align: center;
}

.header h2 {
  font-weight: bold;
  letter-spacing: 2px;
}

.header h4 {
  background: #ffc107;
  display: inline-block;
  padding: 8px 25px;
  border-radius: 30px;
  color: black;
  font-weight: bold;
}

.body {
  display: flex;
  padding: 25px;
}

.photo {
  width: 120px;
}

.photo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #0a4da3;
  object-fit: cover;
}

.details {
  margin-left: 20px;
  font-size: 15px;
}

.details p {
  margin-bottom: 12px;
}

.footer {
  background: #f2f2f2;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  color: #0a4da3;
}

.visitorcard button {
  margin: 20px;
  width: 90%;
}
